fastapi
uvicorn
python-multipart
huggingface_hub
pillow
opencv-python-headless
sqlalchemy[asyncio]
asyncpg
pgvector
scipy
torch
torchvision
tensorboard
calflops
transformers
faster-coco-eval>=1.6.5
shapely
geopandas
